*{

margin: 0;
padding: 0;
font-family: "SF Pro Display", sans-serif;
box-sizing: border-box;

}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: conic-gradient(from 0deg, blue, white, red);
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px 100px;
}

.logo{
zoom: 0.17;
cursor: pointer;
}


.about a{
color: #000000;
font-weight: 600;
text-decoration: none;
}


.contact a{
color: #000000;
font-weight: 600;
text-decoration: none;
}

.headline{
margin-top: 20%;
}

.headline p{
text-align: center;
font-size: 68px;
letter-spacing: 1px;
}

.headline-mini{
margin-top: 20%;
}

.headline-mini p{
text-align: center;
font-size: 40px;
letter-spacing: 1px;
}

.main-buttons{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 23px 0;
}

.main-buttons .ytbtn{
font-size: 19px;
background-color: black;
border-radius: 35px;
color: white;
padding: 10px 20px;
}

.main-buttons .pbtn{
font-size: 19px;
background-color: black;
border-radius: 35px;
color: white;
padding: 10px 20px;
}

.main-buttons .spacer{opacity: 0; height: 5px;}

.the-footer{
padding:45px 0px;
}


.hamburger{
display: none;
cursor: pointer;
}

.bar{
display: block;
width: 25px;
height: 2px;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color:black;

}

.nav-link01{
transition: 0.7s ease;
}

.nav-link01:hover{
color: red;
}

.nav-link02{
transition: 0.7s ease;
}

.nav-link02:hover{
color: blue;
}



.toggled-menus{display: none;}

.ytbtn{
cursor: pointer;}

.pbtn{
cursor: pointer;}

.ytbtn{
transition: 0.7s ease;
}

.ytbtn:hover{
color: #FF0000;
background-color: white;
}

.pbtn{
transition: 0.7s ease;
}

.pbtn:hover{
color: black;
background-color: white;
}

.headline-mini{display:none;}

@media only screen and (max-width: 768px) {

.headline-mini{display:block;}
.headline{display:none;}

.main-buttons{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 25px 0;
}

.main-buttons .spacer{opacity: 0; height: 10px;}


.about{
  display: none;
}

.contact{
display: none;
}

.hamburger{
display: block;
padding-right:60px;
}

.logo{
padding-right:100px;
}

.hamburger.active .bar:nth-child(2){
opacity: 0;
}

.hamburger.active .bar:nth-child(1){
transform: translateY(7.5px) rotate(41deg);
}

.hamburger.active .bar:nth-child(3){
transform: translateY(-7.5px) rotate(-41deg);
}


.the-body.active{
opacity: 0%;
transition: 0.3s;

}

.toggled-menus.active {
opacity: 100%;
transition: 0.3s;
display: flex;
align-items: 
width: 100%;
align-items: center;
justify-content: space-evenly;

}

.toggled-menus.active .about-toggle a{
color: #000000;
font-weight: 600;
text-decoration: none;
font-size: 35px;
}


.toggled-menus.active .contact-toggle a{
color: #000000;
font-weight: 600;
text-decoration: none;
font-size: 35px;
}

}
